/* --- EVERYTHING --- */
* {
  /* reference outlines */
  outline: 0px dashed lightpink; /* outlines do not take up space */
  outline-offset: 0px;
  /*---*/
  margin: auto;
  width: auto;
  padding: 0px;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

/* links */
.links {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

a {
  text-decoration: none;
}
