/* --- EVERYTHING --- */
* {
  /* reference outlines */
  outline: 0px dashed lightpink; /* outlines do not take up space */
  outline-offset: 0px;
  /*---*/
  /*  margin: auto; */
  width: auto;
  padding: 0px;
  /* text-align: center; */
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

/* links */
.sourcelink {
  position: fixed;
  top: 400px;
  left: 170px;
  margin: 20px;
  z-index: 200;
}

.homelink {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

/* --- BODY --- */
.topbar {
  /*position: sticky;*/
  top: 0px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.burgerimg {
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  left: 0px;
  top: 0px;
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.burgerimg img {
  height: 380px;
  width: auto;
}

.titlebar {
  position: relative;
  left: 400px;
  /*padding-left: 400px;*/
  width: 830px;
  align-items: top;
  margin: 10px;
  height: 50%;
}

.title {
  font-size: 42px;
  font-weight: bold;
}

.description {
  position: relative;
  font-family: "Courier New";
  margin-right: 50px;
  margin-top: 10px;
  text-align: justify;
}

.pagebody {
  padding-left: 400px;
  margin: 10px;
  margin-right: 60px;
}

.pagebody h2 {
  text-align: left;
  font-size: 28px;
  margin-bottom: -5px;
}

.ingredients {
  padding-bottom: 10px;
}

.ingredients li {
  list-style: circle inside;
  margin-bottom: 10px;
}

.directions li {
  /*list-style-position: outside;*/
  list-style: outside;
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

/*.test {
  height: 100vw;
}*/
