/* Homepage Style */

* {
  /*  outline: 1px dashed blue; /*!!*/
  /*  background: #ff000010; /*!!*/

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000;
}

.page-container {
  width: 85vw;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
}

.title-container {
  margin-bottom: 50px;
}

.page-title {
  font-size: 96px;
  font-weight: bold;
}

.sub-title {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.menu-container {
  margin-top: 50px;
}

.menu-image-container {
  width: fit-content;
  margin: auto;
}

.menu-list-container {
  display: block;
  /*border: 2px solid #000; /**/
  border-radius: 10px;
}

.menu-title {
  display: block;
  border-bottom: 1px solid black;
  padding: 7px;
}

.menu-list {
  font-size: 0px;
  padding: 10px;
}

.burger-list {
  list-style: none;
  display: inline-block;
  margin: 10px 10px;
  border: 1px solid #000;
}

.burger-image {
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
}

.burger-image img {
  height: 300px;
  width: auto;
}

.burger-name {
  font-size: 16px;
  display: block;
  margin-top: -30px;
  height: 30px;
  position: relative;
  align-content: center;
  border-top: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
}
