/* Homepage Style */

* {
  outline: 1px dashed blue; /*!!*/
  background: #ff000010; /*!!*/

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

.page-container {
  width: 85vw;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
}

.title-container {
  margin-bottom: 50px;
}

.page-title {
  font-size: 64px;
  font-weight: bold;
}

.sub-title {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.menu-container {
  margin-top: 50px;
}

.menu-image-container {
}

.menu-list-container {
  display: block;
  outline: 2px solid #000;
  border-radius: 10px;
}

.menu-title {
  display: block;
  outline: 2px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px;
}

.menu-list {
  font-size: 0px;
  padding: 10px;
}

.burger-list {
  list-style: none;
  display: inline-block;
  margin: 10px 10px;
  outline: 1px solid #000;
}

.burger-image {
  display: inline-block;
  height: 300px;
  width: 300px;
}

.burger-name {
  font-size: 16px;
  display: block;
  margin-top: -30px;
  height: 30px;
  position: relative;
  align-content: center;
  outline: 1px solid #000;
}
