/* Recipe Page Style */

* {
  outline: 1px dashed #0000ff; /**/
  /*background: #ff000010; /**/

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 16px;

  padding: 5px; /**/
}

span {
  font-size: 10px;
  text-align: center;
  line-height: 6px;
  display: block;
  margin: auto;
  width: fit-content; /**/
}

.page-container {
  width: 85vw;
  margin: auto;
  margin-top: 5vh;
  /*text-align: center;*/
}

.title-box-container {
  margin-bottom: 30px;
  display: inline-flex;
}

.title-image-container {
}

.title-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-image img {
  height: 400px;
  width: auto;
}

.title-container {
}

.title {
  font-size: 64px;
}

.subtitle {
  font-family: "Courier New", Courier, monospace;
}

.recipe-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.recipe-title-container {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.recipe-title {
}

.ingredient-container {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
  position: relative;
}

.instruction-container {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
}
