/* Recipe Page Style */

* {
  /* outline: 1px dashed #0000ff; /**/
  /*  background: #ff000010; /**/

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #000;
}

sup {
  font-size: 16px;
}

.page-container {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 45px;
  max-width: 1088px;
}

.link-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.title-box-container {
  margin-bottom: 50px;
  display: inline-flex;
}

.title-image-container {
  margin-right: 10px;
}

.title-image {
  width: 545px;
  height: 545px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.title-image img {
  height: 700px;
  width: auto;
}

.title {
  font-size: 87px;
}

.subtitle {
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}

.recipe-title-container {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.recipe-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.ingredient-container li,
.instruction-container li {
  margin-bottom: 10px;
}

.ingredient-container {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
  position: relative;
  padding-left: 25px;
}

.instruction-container {
  display: inline-flex;
  width: 49%;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 5px;
}
